.contact {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /* padding-top: 10rem; */
}

.contact :where(.heading1) {
  font-size: 70px;
  text-align: center;
}

.contact :where(.container) {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.contact :where(iframe) {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  aspect-ratio: 16/9;
  width: 500px;
}

.contact :where(.details) {
  height: 100%;
}

.contact :where(.details) li {
  color: grey;

  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding-block: 0.2rem;
}

.contact :where(.details) .social-links {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin-top: 2.5rem;
}

@media screen and (max-width: 960px) {
  .contact :where(.container) {
    flex-direction: column-reverse;
  }

  .contact :where(.details) .social-links {
    justify-content: start;
  }
}

@media screen and (max-width: 600px) {
  .contact :where(.container) {
    width: 100%;
  }
  .contact :where(iframe) {
    width: inherit;
    border-radius: unset;
  }
  .contact :where(.details) li {
    padding-inline: 1rem;
  }

  .contact :where(.heading1) {
    font-size: 50px;
  }
  .contact :where(.details) {
    width: 100%;
  }
  .contact :where(.details) .social-links {
    justify-content: center;
    width: 100%;
  }
}
