.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  box-shadow: var(--boxsh);

  position: fixed;
  top: 0;
  width: 100%;
}

.navigation :where(.nav-links) {
  display: flex;
}

.navigation :where(.nav-sidebar) {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  height: 100vh;

  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(3px);
}

.navigation :where(.nav-sidebar) a {
  display: flex;
  padding: 1rem 2rem;
  color: grey;
}
.navigation :where(.nav-sidebar) a:hover {
  color: black;
}

.navigation :where(.nav-sidebar) span {
  width: 100%;
  text-align: end;
}

.navigation :where(.nav-menu) {
  display: none;
}
.navigation :where(.nav-menu) a {
  display: flex;
  padding: 1rem 2rem;
  color: grey;
}
.navigation :where(.nav-menu) a:hover {
  color: black;
}

.navigation :where(.nav-brand) a {
  display: flex;
  padding: 1rem;
  color: grey;
}
.navigation :where(.nav-brand) a:hover {
  color: black;
}

.navigation :where(.nav-links) a {
  display: flex;
  padding: 1rem;
  color: grey;
}

.navigation :where(.nav-links) a:hover {
  color: black;
}

@media screen and (max-width: 800px) {
  .navigation :where(.nav-links) {
    display: none;
  }
  .navigation :where(.nav-menu) {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .navigation :where(.nav-sidebar) {
    width: 100%;
  }
  .navigation :where(.nav-sidebar) a {
    justify-content: center;
  }
}
