* {
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "poppins", sans-serif;
  padding: 1rem;

  display: flex;
  gap: 1rem;
}

html {
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* *** */

.container {
  background-color: grey;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  resize: vertical;
  overflow: auto;
  padding: 1rem;

  height: fit-content;
  width: fit-content;
}

.container1 {
  background-color: grey;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  resize: horizontal;
  overflow: auto;
  padding: 1rem;

  height: fit-content;
  width: fit-content;
}

.container2 {
  background-color: grey;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  resize: both;
  overflow: auto;
  padding: 1rem;

  height: fit-content;
  width: fit-content;
}
