* {
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "poppins", sans-serif;
  padding: 1rem;

  animation: bg 5s infinite ease;
}

html {
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* *** */

@keyframes bg {
  0% {
    background-color: blue;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: blue;
  }
}
